.plot-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 40vw;
    height: 60vh;
    border-radius: 0;
    border: 1px solid #65ccb8;
}

.plot-container > h4 {
    color: #65ccb8;
}