.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 10vh;
    padding: 2.5vh 2vw;
    background-color: #fbfbfb;
    box-shadow: 0px -3px 8px rgba(0, 0, 0, 0.1);
}

.footer-main {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.footer-info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-right: 0.5vw;
}

.footer p {
    margin: 0;
    padding-top: 0.5vh;
    font-weight: 500;
    font-family: Roboto;
    font-size: calc(5px + 1.3vmin);
}

.footer a {
    text-decoration: none;
    color: #1a2b7a;
}

.footer-acknowledgements {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.footer-logo {
    height: 9vh;
    padding-left: 1vw;
}

.v-line {
    padding-left: 2.5vw;
    border-right: 1px solid #cccccc;
    min-height: 9.75vh;
}

.footer-contrib {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-top: 1.75vh;
}

.footer-contrib p {
    font-weight: 400;
}
