.header {
    min-height: 5vh;
    display: flex;
    padding: 2vh 0 3vh 0;/*2.5vh 4.5vw 2.5vh 4.5vw;*/
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    background-color: #fbfbfb;
    box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.24);
}

.header h2 {
    margin: 0;
}

.header-logo {
    height: 7.5vh;
}

.header-desc {
    font-weight: 400;
    font-family: Roboto;
    font-size: calc(5px + 1.5vmin);
}