.repr-option {
    width: 35%;
}

.threshold-option {
    width: 65%;
    margin-left: 5%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.threshold-option > div {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: white;
    color: #333;
    padding: 8px 10px;
    height: 18px;
    min-width: 200px;
    border: 1px solid #cccccc;
    border-radius: 2px;

}

.threshold-option input {
    margin-left: 1vw;
    width: 45%;
}

#threshold-display p {
    margin: 0;
}

.repr-btn {
    min-width: 5vw;
    background-color: #65ccb8;
    color: #131313;
    border: 2px solid #65ccb8;
    font-weight: 600;
    font-size: calc(6px + 1vmin);
}

button.repr-btn {
    margin-left: 5%;
    border-radius: 2vmin 2vmin 0 0;
}

.repr-types {
    position: absolute;
    left: 13.75%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(6px + 1vmin);
}

input[type="range"] {
    -webkit-appearance: none;
    width: 100%;
    border-radius: 5vmin;
    background: transparent;
}

input[type=range]::-ms-track {
  width: 100%;
  cursor: pointer;
  background: transparent; 
  border-color: transparent;
  color: transparent;
}

input[type=range]::-webkit-slider-runnable-track {
    width: 300px;
    height: 5px;
    background: white;
    border: none;
    border-radius: 5vmin;
}

input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    border: none;
    height: 16px;
    width: 16px;
    border-radius: 50%;
    background: #65ccb8;
    margin-top: -5px;
}

input[type=range]:focus::-webkit-slider-thumb {
    -webkit-appearance: none;
    border: none;
    height: 18px;
    width: 18px;
    border-radius: 50%;
    background: #65ccb8;
    margin-top: -6px;
}

input[type=range]:focus {
    outline: none;
}
