.App {
  background-color: #fefefe;/*#131313 #282c34;*/
  width: 100vw;
  height: 100vh;
}

.App-info {
  padding: 2.5vh 5vw 3.5vh 5vw;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  font-size: calc(5px + 1.6vmin);
  color: #131313; /*white*/
}

.App-info p {
  margin: 0;
  text-align: justify;
  text-justify: inter-word;
}

.accent {
  color: #131313; /*#65ccb8 #61dafb;*/
}

hr.solid {
  width: 100%;
  /*border-top: 0px solid #aaa;*/
  background-color: #131313; /*#65ccb8*/
  border-color: #131313; /*#65ccb8*/
  color: #131313; /*#65ccb8*/
  border-style: solid;
}

.data-container {
  display: flex;
  width: 100vw;
  height: 70vh;
  padding-top: 3.5vh;
  padding-bottom: 7.5vh;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-evenly;
}
