.App {
  background-color: #131313;/*#282c34;*/
  width: 100vw;
  height: 100vh;
}

.App-info {
  padding: 7.5vh 5vw;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  font-size: calc(5px + 2vmin);
  color: white;
}

.accent {
  color: #65ccb8; /*#61dafb;*/
}

hr.solid {
  width: 100%;
  /*border-top: 0px solid #aaa;*/
  background-color: #65ccb8;
  border-color: #65ccb8;
  color: #65ccb8;
  border-style: solid;
}

.data-container {
  display: flex;
  width: 100vw;
  height: 70vh;
  padding-top: 3.5vh;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-evenly;
}
